body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;


}


    #custom-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    background-color: #5773C4;
}

#custom-overlay.hidden {
    display: none;
}

.flb {
    background-color: black;

    height: 100%;
    width: 100%;
    animation: pulse 1s linear forwards;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Aligner-item {
    max-width: 100%;
}

.Aligner-item--top {
    align-self: flex-start;
}

.Aligner-item--bottom {
    align-self: flex-end;
}

#custom-overlay img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    animation: animation 3100ms linear infinite both;
    animation-delay: 1s;
}

@keyframes pulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation-target {
    -webkit-animation: animation 2800ms linear infinite both;
    animation: animation 2800ms linear infinite both;
}


.animation-target {
    -webkit-animation: animation 750ms linear both;
    animation: animation 750ms linear both;
}

.hero-image {
    background-image: url("img/main.png");
    background-color: #cccccc;
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E42217;
    font-family: 'Raleway', sans-serif;
}

.button {
    background-color: ;
    border: none;
    color: #E42217;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    border-radius: 50px;
}
